<nav class="navbar navbar-expand-lg navbar-light bg-warning mb-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Tomodachi</a>
        {% if user.is_authenticated %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">友達一覧</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="create/">友達登録</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category/{{ first_category.pk }}/">カテゴリ一覧</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category/create/" tabindex="-1" aria-disabled="true">カテゴリ登録</a>
                </li>
            </ul>
        </div>
        {% endif %}

        {% if user.is_authenticated %}
        <a class="btn btn-sm btn-danger w-25" href="/logout/">ログアウト</a>
        {% else %}
        <div class="d-flex">
            <a href="/login/" class="btn btn-sm btn-info me-2">ログイン</a>
            <a href="/signup/" class="btn btn-sm btn-outline-info">新規登録</a>
        </div>
        {% endif %}

    </div>
</nav>