<div class="container mb-5">
    <div class="row">
      <div class="col">
        <a class="btn btn-danger" href="/" role="button">友達一覧</a>
      </div>
      <div class="col">
        <a class="btn btn-success" href="/create/" role="button">友達登録</a>
      </div>
      <div class="col">
        <a class="btn btn-warning" href="/category/{{ first_category.pk }}/" role="button">カテゴリ一覧</a>
      </div>
      <div class="col">
        <a class="btn btn-info" href="/category/create/" role="button">カテゴリ登録</a>
      </div>
    </div>
</div>