{% extends 'friendslist/base.html' %}

{% block content %}
<main class="container mb-5">
    <form class="row" method="POST">
        {% csrf_token %}
        <div class="col col-md-6">
            <h2>友達作成</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    <label class="form-label">名前</label>
                    <input type="text" class="form-control" id="id_name" name="name" placeholder="山田太郎">
                </li>
                <li class="list-group-item">
                    <label class="form-label">ふりがな</label>
                    <input type="text" class="form-control" id="id_furigana" name="furigana" placeholder="やまだたろう">
                </li>
                <li class="list-group-item">
                    <label class="form-label">ニックネーム</label>
                    <input type="text" class="form-control" id="id_nickname" name="nickname" placeholder="たろうちゃん">
                </li>
                <li class="list-group-item">
                    <label class="form-label">性別</label>
                    <select class="form-control" id="id_sex" name="sex">
                        <option value="0">選択しない</option>
                        <option value="1">男性</option>
                        <option value="2">女性</option>
                    </select>    
                </li>
                <li class="list-group-item">
                    <label class="form-label">誕生日</label>
                    <input type="date" class="form-control" id="id_birthday" name="birthday">
                </li>
                <li class="list-group-item">
                    <label class="form-label">出身地</label>
                    <input type="text" class="form-control" id="id_birthplace" name="birthplace" placeholder="東京都渋谷区">
                </li>
                <li class="list-group-item">
                    <label class="form-label">趣味</label>
                    <input type="text" class="form-control" id="id_hobby" name="hobby" placeholder="ギター、料理">
                </li>
                <li class="list-group-item">
                    <label class="form-label">就職先</label>
                    <input type="text" class="form-control" id="id_company" name="company" placeholder="株式会社○○○○">
                </li>
                <li class="list-group-item">
                    <label class="form-label">カテゴリ</label>
                    <select class="form-control" id="id_category" name="category">
                        {% for category in categories %}
                        <option value="{{ category.pk }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li class="list-group-item">
                    <button type="submit" class="btn btn-success float-end">保存</button>
                </li>
            </ul>
        </div>
    </form>
</main>
{% endblock %}