{% extends 'friendslist/base.html' %}

{% block content %}
<main class="container mb-5">
    <form class="row" method="POST">
        {% csrf_token %}
        <div class="col col-md-4">
            <h2>友達編集</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    <label class="form-label">名前</label>
                    <input type="text" class="form-control" id="id_name" name="name" value="{{ friend.name }}">
                </li>
                <li class="list-group-item">
                    <label class="form-label">ふりがな</label>
                    <input type="text" class="form-control" id="id_furigana" name="furigana" value="{{ friend.furigana }}">
                </li>
                <li class="list-group-item">
                    <label class="form-label">ニックネーム</label>
                    <input type="text" class="form-control" id="id_nickname" name="nickname" value="{{ friend.nickname }}">
                </li>
                <li class="list-group-item">
                    <label class="form-label">性別</label>
                    <select class="form-control" id="id_sex" name="sex">
                        <option value="0" {% if friend.sex == 0 %}selected{% endif %}>選択しない</option>
                        <option value="1" {% if friend.sex == 1 %}selected{% endif %}>男性</option>
                        <option value="2" {% if friend.sex == 2 %}selected{% endif %}>女性</option>
                    </select>    
                </li>
                <li class="list-group-item">
                    <label class="form-label">誕生日</label>
                    <input type="date" class="form-control" id="id_birthday" name="birthday" value="{{ friend_birthday }}">
                </li>
                <li class="list-group-item">
                    <label class="form-label">出身地</label>
                    <input type="text" class="form-control" id="id_birthplace" name="birthplace" value="{{ friend.birthplace }}">
                </li>
                <li class="list-group-item">
                    <label class="form-label">趣味</label>
                    <input type="text" class="form-control" id="id_hobby" name="hobby" value="{{ friend.hobby }}">
                </li>
                <li class="list-group-item">
                    <label class="form-label">就職先</label>
                    <input type="text" class="form-control" id="id_company" name="company" value="{{ friend.company }}">
                </li>
                <li class="list-group-item">
                    <label class="form-label">カテゴリ</label>
                    <select class="form-control" id="id_category" name="category">
                        {% for category in categories %}
                        <option value="{{ category.pk }}" {% if category.pk == friend.category.pk %}selected{% endif %}>{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li class="list-group-item">
                    <button type="submit" class="btn btn-success float-end">更新</button>
                </li>
            </ul>
        </div>
        <div class="column col-md-8">
            <h2>友達メモ</h2>
            <a class="btn btn-info mb-3" href="{% url 'memo_create' friend.pk %}" role="button">メモを登録する</a>
            <ul class="list-group">
                {% for memo in memos %}
                <li class="list-group-item">
                    <a href="{% url 'memo_delete' friend.pk memo.pk %}" class="btn btn-outline-secondary btn-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive" viewBox="0 0 16 16">
                            <path d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                          </svg>
                    </a>
                    {{ memo.text }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </form>
</main>
{% endblock %}